*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #fff;
}
html {
    font-family: 'Open Sans', sans-serif;
}
/* Navbar Menu */
#navbar {
    color: #fff;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding:0 0.75rem;
    height: 70px;
}
#navbar ul {
    list-style-type:none;
    display:flex;
    align-items: center;
}
#navbar ul li a {
    padding: 0.5rem;
}
#navbar ul li a:hover {
    background-color: #336ea2;
    border-radius: 4px;
}
/* Section Menu  */
#home img {
    max-width: 100%;
    width: 19rem;
    height: auto;
    border-radius: 100%;
}
/* Home Section */
#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-bottom:1px solid gray ;
}
#home .name h2 {
    margin-bottom: 0.75rem;
}
#home .name p {
    opacity: 0.6;
    font-style: italic;
}

/* About Me */
#about-me {
    color: #fff;
    padding: 1rem;
} 
#about-me h3 {
    padding: 0.4rem;
}
#about-me .items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#about-me .items .item {
    width: 33%;
    text-align: center;
    padding: 0.5rem;
}
#about-me .items .item:hover {
    color: red;
    opacity: 0.8;

}

/* Courses*/ 
#courses {
    color: #333;
    padding: 1rem;
    
}
.courses {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.courses .course {
    display: flex;
    padding:0.5rem ;
    margin-bottom: 0.5rem;
}
.courses .course .course-image {
    margin-right:0.5rem;
    position: relative;
    
    



}
.courses .course .course-image img{/* position absolutenin çalışması için kapsayıcının içinde position relative olması gerekli !!!*/
    width: 100%;
    border-radius:0.5rem;
    
    
}
.courses .course .course-image span{
    background-color: red;
    color: #fff;
    padding: 0.2rem;
    border-radius: 0.2rem;
    position: absolute;
    top:1rem;
    left: 0;
    
}
    
    
    .courses .course .course-info .title {
        letter-spacing: 0.1rem;
        font-weight: 800;
        margin-bottom: 0.25rem;
    }
    .courses .course .course-info .description {
        letter-spacing: 0.1rem;
        margin-bottom: 0.25rem;
        opacity: 0.6;
    }
    .courses .course .course-info .instructor {
        font-size: 0.9rem;
        margin-bottom: 0.25rem;
        opacity: 0.6;
    }
    .courses .course .course-info .rating {
        font-size: 0.9rem;
        margin-bottom: 0.25rem;
        opacity: 0.6;
    }  

/* Contact */
#contact {
    color: #fff;
    padding:1rem;

} 
#contact .contactform {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

#contact .contact-form ul {
    list-style-type: none;
    display: flex;
    align-self: center;
    margin-top: 1rem;
    justify-content: space-around;
    
        
}
#contact .contact-form ul li a {
    padding: 1rem;
    font-size: 2rem;
    
}
/* #contact .contact-form ul li a:hover {
    opacity: 0.9;
    color: #333;
    background-color: #fff;
    
} */
#contact .contact-form ul li a i:hover {
    opacity: 0.9;
    color: red;
    font-size: 3rem;
    
}
   
    


