#navbar {
     flex-direction: column; 
     padding-top: 0.5rem;
     padding-bottom: 0.5rem;
     overflow: hidden; /* Taşmayı önler */
     height: 80px;
     
}
#about-me .items {
    flex-direction: column;
}
#about-me .items .item {
    width: 100%;
}
.courses .course {
   flex-direction: column; 
}    
